<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.mobile.proisa.pedidoprueba">

    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity"
            android:theme="@style/SplashTheme"
            >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Activities.DetailsClientActivity"
            android:theme="@style/AppTheme.NoActionBar" />

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>

        <activity android:name=".Activities.EditClientActivity" />
        <activity android:name=".Activities.SeeCommentsActivity" />
        <activity android:name=".Activities.ShowPhotoActivity" />
        <activity
            android:name=".Activities.DetailsItemActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".Activities.SelectorItemActivity" />
        <activity android:name=".Activities.VentaActivity" />
        <activity android:name=".Activities.PaymentActivity" />
        <activity android:name=".Activities.LoginActivity" />

        <service android:name=".Services.VisitaActivaService" />

        <activity android:name=".Activities.InvoiceListActivity" />

        <service
            android:name=".Services.SyncAllService"
            android:enabled="true"
            android:exported="true" />

        <activity android:name=".Activities.InvoiceDetailsActivity" />
        <activity android:name=".Activities.DiaryListActivity" />
        <activity android:name=".Activities.SeeAcitivitiesActivity"></activity>
    </application>

</manifest>